<div class="alert alert-danger" role="alert">
  <%= fa_icon "shopping-cart", class: "" %><h4>Your cart is empty.</h4>
  <hr>
  Let's get your <%= link_to 'green thumbs going!', :root, class: "alert-link" %>
</div>